
$bg: #1a1112;
$bg-light: #261d1e;
$fg: #f0dedf;
$active: #ffb2bc;
$unactive: #d7c1c3;



.bar {
  font-family: 'fira-code';
  background-color: $bg;
}

.workspace {
    border-radius: 1rem;
    padding: 0 0.55rem;
    transition: 0.3s;
}

.workspace:hover {
    background-color: lighten($bg, 10%);
}

.workspace.active {
    background-color: $active;
    color: $bg;
}

.panel {
  background-color: $bg-light;
  border-radius: 0.75rem;
  padding: 0.4rem 0.8rem;
  margin: 0.25rem;
  transition: background-color 0.2s ease;
}
